L1_RPC_URL=$L1_RPC_URL
L2_RPC_URL=http://127.0.0.1/l2rpc
# polygonZkEVMBridgeAddress
BRIDGE_ADDRESS=$polygonZkEVMBridgeAddress
# L1 中继合约
L1_BRIDGE_RELAY_CONTRACT=$L1_BRIDGE_RELAY_CONTRACT
# L1 中继合约的 owner
L1_REGISTER_BRIDGE_PRIVATE_KEY=$L1_REGISTER_BRIDGE_PRIVATE_KEY
# 用于部署 counter 合约
L2_PRIVATE_KEY=$L2_PRIVATE_KEY
# Layer2 类型编号（与合约约定一致，0/1/2 表示 zk/op/bridge）
L2_TYPE=0